button {
    display: inline-block;
    padding: 5px 12px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #787878;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #666666;
}

button:hover {
    background-color: #3e8e41;
    box-shadow: 0 7px #017505;

}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #017505;
    transform: translateY(4px);
}
.dark-mode {
    background-color: rgb(32, 32, 32);
    color: white;
}
.button{
    position: relative;
    float: right;
    width: 30px;
    right: 0;
    margin-top: 5px;
    margin-right: 20px;
}
@media (max-width: 768px){
    button {
        display: inline-block;
        width:fit-content;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #787878;
        border: none;
        border-radius: 15px;
        box-shadow: 0 7px #666666;
        margin-top: 10px;
    }
    
    button:hover {
        background-color: #3e8e41;
        box-shadow: 0 7px #017505;
    
    }
    
    button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #017505;
        transform: translateY(4px);
    }
    .dark-mode {
        background-color: rgb(32, 32, 32);
        color: white;
    }
    .button{
        position: static;
        float: right;
        width: 30px;
        right: 0;
        margin-top: 1%;
        margin-right: 6%;
    }
}
