button {
    display: inline-block;
    padding: 5px 12px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #787878;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #666666;
}

button:hover {
    background-color: #3e8e41;
    box-shadow: 0 7px #017505;

}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #017505;
    transform: translateY(4px);
}
.dark-mode {
    background-color: rgb(32, 32, 32);
    color: white;
}
.button{
    position: relative;
    float: right;
    width: 30px;
    right: 0;
    margin-top: 5px;
    margin-right: 20px;
}
.gradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
