html{
    font-family: Calibri;
}
body{
    background-color: khaki;
}
h2{
    text-align: center;
}
h3{
    text-align: left;
}

h4{
    text-align: center;
}
.strona{
    position: relative;
}

form{
    border-style: groove;
    padding: 20px 50px 20px 50px;
    height: 240px;
    margin-left: 30px;
    margin-right: 30px;
    float: left;
    text-align: left;
    position: relative;
}

.vertical-menu {
width: 240px;
height: 250px;
overflow-y: auto;
margin-left: 30px;
margin-right: 30px;
border-style: groove;
text-align: left;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
padding-top: 10px;
position: relative;

}


button {
    display: inline-block;
    padding: 5px 12px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #787878;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #666666;
}

button:hover {
    background-color: #3e8e41;
    box-shadow: 0 7px #017505;

}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #017505;
    transform: translateY(4px);
}

.password {
    cursor: pointer;
}
.img{
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
}
input[id="dlugosc"]{
    width: 40px;
    text-align: left;
}
.dark-mode {
    background-color: rgb(32, 32, 32);
    color: white;
}
.button{
    position: relative;
    float: right;
    width: 30px;
    right: 0;
    
    margin-top: 1px;
    margin-right: 5%;
}

.instrukcja{
padding-top: -20px;
}
