html{
    font-family: Calibri;
}
body{
    background-color: khaki;
    margin: 0;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: left;
}

h4{
    text-align: center;
}
form{
    border-style: groove;
    padding: 20px 30px 20px 30px;
    height: 150px;
    margin-left: 40px;
    margin-right: 30px;
    float: left;
    text-align: left;
    position: relative;
}
section{
    padding: 20px;
}
input[type="number"]{
    width: 40px;
}
input[type="date"]{
    font-family: Calibri;
}
div[id="wynik"]{
    border-style: groove;
    padding: 20px 30px 20px 30px;
    height: 150px;
    width: 220px;
    margin-left: 40px;
    margin-right: 30px;
    float: left;
    text-align: left;
    position: relative;
}
